<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1> Welcome to Fun Yums!</h1>

<br>
<br>
<br>

<p> The best recipes, with the best search features, all from one site! </p>

<img src="../../assets/food1.jpg">

<br>
<br>
<br>
<h2> Key Features: </h2>

<ul>
  <li>Create a recipe list</li>
  <li>Search by available ingredients</li>
  <li>Earn points and unlock hidden features</li>
  <li>Get nutritional facts</li>
</ul>



