body {
    background: #3e4649;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
  }

  h1,
  h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .jumbotron h3, h4 {
    text-align: center; 
  }

  .container2 p {
    text-align: center;
  }

  .jumbotron {
    color: black;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/assets/flipped.jpg);
    background-size: cover;
    padding-top: 10%;

    background-size: cover; 
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
  }

  .jumbotron p {
    color: black;
    font-size: 20px;
  }
  .jumbotron h1{
    font-size: 45px;
  }

  .glyphicon {
    font-size: 40px;
  }
  .col-md-4, .col-md-3 {
    text-align: center; 
  }


