<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 


<div class="jumbotron">
  <div class="container">
    <br>
    <h1>Welcome to FunYums!</h1>
    <p>
      The best recipes, with the best search features, all from one site. <br>
      What are you waiting for? Let's get cooking!
    </p>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-6">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      <h3>Create a Recipe List</h3>
      <p>
        Create a list of your favorite and future recipes!
      </p>
    </div>
    <div class="col-md-6">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <h3>Search By Ingredients</h3>
      <p>Don't know what to cook tonight? Search by ingredients in your pantry!</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <h3>Get Nutritional Facts</h3>
      <p>
        Each recipe has nutritonal information and facts for your reading!
      </p>
    </div>
    <div class="col-md-6">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <h3>Earn Points and Rewards</h3>
      <p> Channel your inner chef and earn points to unlock hidden features! </p>
    </div>
</div>

</div>



