body {
    background-color: lightblue;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: orange;
}

p {
    font-family: Arial;
    color: blue;
}

h2 {
    font-family: sans-serif;
}




