body {
    background: #3e4649;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
  }

  h1,
  h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .jumbotron {
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/assets/Food-for-desktop2.jpg);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
  }
  .jumbotron p {
    color: white;
    font-size: 20px;
  }
  .jumbotron h1{
    font-size: 45px;
  }
  .container {

  }



