

h3 {
    color: #191970;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px; 
    font-family: 'Montserrat', sans-serif; 
}

h4{
    text-align: center; 
    margin-bottom: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #GOAL .jumbotron {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
  }
  #GOAL .jumbotron h2 {
    color: navy;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
  }
  #GOAL .jumbotron h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  .team-content h3{
    color: #FF8C00;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif; 
  }

  .team-content p{
    text-align: center;
  }
 
  .other-color{
    background:#DFDCE3; 
  } 
  .other-color p{
    text-align: center;
    font-size: 18px; 
  }
  .stats-color{
    background: #F8EEE7
  }
  .stats-color p{
    text-align: center;
  }

