
h1 {
    color: orange;
    text-align: center;
    margin-bottom: 35px; 
}

#GoalParagraph {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

h3 {
    color: #191970;
    text-align: center;
}

p{
    text-align: center; 
}

