
h1 {
    color: orange;
    text-align: center;
    margin-bottom: 35px; 
}

#GoalParagraph {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px; 
}

#TeamToucan {
    margin-bottom: 25px; 
}

h3 {
    color: #191970;
    text-align: center;
    margin-bottom: 20px; 
}

p{
    text-align: justify;
    text-align-last: center;    
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 0px; 
    margin-bottom: 30px; 
}


h4{
    text-align: center; 
    margin-bottom: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

