<div style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
<div >
  <h1>
    FunYums!
  </h1>
  </div>

<div >
<h3>
  OUR GOAL
</h3>
</div>

<div>
<p id = "GoalParagraph">
  FunYums! strives to offer cooking users of all experience levels food recipes and suggestions 
  based on the ingredients a user already owns. The ability for users to utilize information 
  like expiration date and ingredients will help people save money and reduce waste by efficiently 
  using their ingredients. We also hope to motivate individuals to cook more with our points system. 
  Have more fun, produce less waste, and save more money, one recipe at a time! 
</p>
</div>

<br>

<div id = "TeamToucan">
  <h3>
    MEET TEAM TOUCAN
  </h3>
</div>

<div id = #ASHKAN>

  <img src="assets/Ash.jpg" alt="Ash" style="width:280px;height:280px;" class="center">

  <h4>
    Ashkan Vafaee
  </h4>

  <p>
      I'm Ashkan and I'm an Electrical and Computer Engineering major focusing on Software Engineering and Computer Architecture. I'm from Austin, Texas and love to explore the city in my free time. 
      Outside of school I love to play pickup basketball at my local gym and play board games with friends. 
      My responsibilities in Phase One includes creating 3 static pages for our website, understanding how to collect recipe data using the Yummly API, and deciding on a CSS framework to use.
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests:  
  </p>
</div>

<div id = #CHRISTIAN >

  <img src="assets/Christian.jpg" alt="Christian" style="width:300px;height:300px;" class="center">

  <h4>
    Christian Han
  </h4>
  <p>
      I’m Christian and am currently studying Electrical and Computer Engineering with focuses in Software Engineering,Data Science, and Information Processing. 
      I’m from Irvine, California and love going to the beach, mountain biking, and lifting. My responsibilities in Phase One include creating a static page 
      for our website and creating a form where you can submit your recipes.
    
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests:  
  </p>
</div>

<div id = #LORRIE >

  <img src="assets/mochiball.jpg" alt="Lorrie" style="width:300px;height:250px;" class="center">

  <h4>
    Lorrie Tria
  </h4>
  <p>
    Hi there! I'm Lorrie and I'm majoring in Electrical and Computer Engineering and focusing Software Engineering.
    I'm from Houston, Texas, and love all types of food and have a cute corgi named Mochi.
    My responsibilities in Phase One is programming and developing pages for our website, specifically 
    the About Page (the one you're on right now!). As a team, we're all responsible for contributing to the report,
    testing, understanding how our website works, and providing help and input whenever needed. 
    
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests: 
  </p>
</div>

<div id = #RODO >
  <img src="assets/Rodo.jpg" alt="Rodo" style="width:300px;height:300px;" class="center">
  <h4>
    Rodolfo Rodriguez Avila
  </h4>
    <p>
      I'm an aspiring Electrical and Computer Engineer who loves being outdoors and playing SSB Ultimate. (Yoshi erryday) 
      My responsibilities in Phase One are to design a static website that allows the user to view their favorite recipes. 
      I also took charge of deploying the websites on the GCP and establishing the domain.
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests:  
  </p>
</div>

<div id = #HADAR >

  <img src="assets/Hadar.jpg" alt="Hadar" style="width:275px;height:305px;" class="center">

  <h4>
    Hadar Rozenberg
  </h4>
  <p>
      I'm Hadar! I'm an Electrical and Computer Engineering student at UT Austin. I love dogs and video games. 
      For Phase One, I was responsible for setting up the Angular app and adding a search page and a page for viewing a specific recipe.
    
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests:  
  </p>
</div>

<div id = #SHAY>

  <img src="assets/Shay.jpg" alt="Shay" style="width:275px;height:300px;" class="center">

  <h4>
    Shehryar Ahmed
  </h4>
  <p id = "last">
      I'm Shehryar and I'm an Electrical and Computer Engineering major focusing on Software Engineering and Data Science. I'm from Austin, Texas and love to explore the city in my free time. 
      Outside of school I like to rock climb at my local climbing center and enjoy learning more about CS. 
      My responsibilities in Phase One includes creating 2 static pages for our website, setting up the back-end for our application, and helping my partners learn about Angular.
    <br>
    Number of Commits: 
    <br>
    Number of Issues:
    <br>
    Number of Unit Tests:  
  </p>
</div>

<br>

<div id = #STATS>
    <h3>
      STATISTICS
    </h3>

    <p>
        Total Number of Commits: 
        <br>
        Total Number of Issues:
        <br>
        Total Number of Unit Tests:  
    </p>
</div>

<br>

<div id = #DATATOOLS>
    <h3>
      DATA AND TOOLS
    </h3>

    <p>
      For our tools, we will be using Angular for our front-end. This will allow us to create our front-end webpages in a simple and 
      intuitive manner using different components. For our application, we will create different components for each page, for example, 
      one for a recipe page, one for our about page, etc. For the deployment of our application, we will be using Google Cloud Platform, 
      which will allow us to easily move our app to live production that can be viewed by anyone on the internet.  Another reason for using 
      this is that the majority of the team has experience with launching apps to GCP. For testing, we used Karma with Jasmine. 
      This allowed us to quickly deploy JavaScript tests in a real browser which includes a native debugger.
      
      <br> <br>
      The primary data source we are using is the Yummly API: <a href="https://github.com/rododavid19/461L-FunYums-">https://developer.yummly.com/documentation.</a> 
      <br>
    
      This API provides recipe search features allowing us to obtain ingredients, pictures, step-by-step instructions, 
      and nutritional facts for a given recipe by using HTTP requests and parsing the resulting JSON data.
      <br> <br>
      Link to GitHub Repo: <a href="https://github.com/rododavid19/461L-FunYums-">https://github.com/rododavid19/461L-FunYums-</a>
    </p>
</div>
</div>

