<div >
  <h1>
    FunYums!
  </h1>
  </div>

<div >
<h3>
  Our Goal
</h3>
</div>

<div>
<p id = "GoalParagraph">
  FunYums! strives to offer cooking users of all experience levels food recipes and suggestions 
  based on the ingredients a user already owns. The ability for users to utilize information 
  like expiration date and ingredients will help people save money and reduce waste by efficiently 
  using their ingredients. We also hope to motivate individuals to cook more with our points system. 
  Have more fun, produce less waste, and save more money, one recipe at a time! 
</p>
</div>

<br>

<div >
  <h3>
    Our Creators
  </h3>
</div>

<div >
  <p>
    Ashkan Vafaee
  </p>
</div>

<div >
  <p>
    Christian Han
  </p>
</div>

<div >
  <p>
    Lorrie Tria
  </p>
</div>

<div >
  <p>
    Rodolfo Rodriguez Avila
  </p>
</div>

<div >
  <p>
    Hadar Rozenberg
  </p>
</div>

<div >
  <p>
    Shehryar Ahmed
  </p>
</div>