<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class = "container" style="font-family: 'Montserrat', sans-serif;font-size: 15px;">
  <h1>Recipe Submission Form</h1>
  <br>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <br />

    <div class="form-group">
      <label for="name">Ingredients</label>
      <input type="text" class="form-control" id="ingredients" required>
    </div>

    <br />

    <div class="form-group">
      <label for="name">Allergies</label>
      <input type="text" class="form-control" id="allergies" required>
    </div>

    <form [formGroup]="form">
      <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{orders[i].name}}
      </label>

    </form>


    <br />

    <div class="form-group">
      <label for="name">Instructions</label>
      <input type="text" class="form-control" id="instructions" required>
    </div>

    <br />

    <div>
      <label for="name">Categories</label>
      &nbsp;
      <select>  <!-- <select [(ngModel)]="selectedLevel" (change)="selected()"> -->
        <option> Mexican </option>
      </select>
    </div>


    <br />

    <button type="submit" class="btn btn-success" style="background-color: black;">Submit</button>


  </form>
</div>




