<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class = "container" style="font-family: 'Montserrat', sans-serif;font-size: 15px;">
  <h1>Recipe Submission Form</h1>
  <br>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input #excluded_ing type="text" class="form-control" id="name" style="width:195px" (keyup)="setName($event)" required >
    </div>

    <br />

    <div>


      <label>Ingredients Required </label>
      <br>
      <input #excluded_ing type="text" id="addedIngredient" > &nbsp;
      <button (click)="addIng(excluded_ing.value)" style="background-color: black;" >Add</button>
      <br>
      <br>

      <div *ngIf="ings2excludeExist">
        <label>Ingredients Currently Added </label><br>
        <button *ngFor="let ing of ings2exclude" (click)="removeIng(ing)" style="background-color: black; color: white">
          {{ing}}
        </button>
      </div>

    </div>

    <br />

    <!--<div class="form-group">-->
      <!--<label for="name">Allergies</label>-->
      <!--<input type="text" class="form-control" id="allergies" required>-->
    <!--</div>-->

    <!--<form [formGroup]="form">-->
      <!--<label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">-->
        <!--<input type="checkbox" [formControlName]="i">-->
          <!--{{orders[i].name}}-->
      <!--</label>-->
    <!--</form>-->


    <br />

    <div class="form-group">
      <label for="name">Instructions</label>
      
      <textarea type="textarea" class="form-control" id="instructions" style="width:500px;height:500px;" (keyup)="setInstructions($event)" required></textarea>
    </div>

    <br />

    <div>
      <label for="name">Categories</label>
      &nbsp;
      <select>  <!-- <select [(ngModel)]="selectedLevel" (change)="selected()"> -->
        <option> Mexican </option>
        <option> Chinese </option>
        <option> Italian </option>
        <option> American </option>
        <option> Indian </option>
        <option> Southern </option>
        <option> Japanese </option>
        <option> Greek </option>
      </select>
    </div>


    <br />

    <button (click)="saveRecipe()" type="submit" class="btn btn-success" style="background-color: black;">Submit</button>
    <br>
    <br>
    <br>
    <br>

  </form>


  <div *ngIf="recipesShow">
    <div *ngFor="let recipe of recipes">
      <span><a routerLink="/recipe/{{recipe.id}}" (click)="saveLocalState()">{{recipe.recipeName}}</a></span>
    </div>
  </div>

</div>











