

<div class="col-xs-12" style="height:50px;"></div>

<kbd style="background-color: cornflowerblue">
  FAVORITES
</kbd>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><div class="list-group">
  
  <a href="https://cookieandkate.com/2018/pomegranate-pear-green-salad-with-ginger-dressing/" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Pomegranate Salad</h5>
      <small>147 <span  class="glyphicon">&#xe006; </span>
      </small>
    </div>
    <p class="mb-1">This refreshingly sweet salad is a great way to contemplate about life!</p>
    <small>Salad, Fruity, Healthy</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>202 <span  class="glyphicon">&#xe006; </span>
      </small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>100 <span  class="glyphicon">&#xe006; </span>
      </small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small class="text-muted"></small>
    </div>
    <p class="threeDots"> </p>
    <small class="text-muted"></small>
  </a>
</div>
