
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">



<div class="container">
<p></p>
<h3 class="display-4 " align="center"  >{{test_user}}</h3>
<p> </p>



  <ul *ngFor="let allFavRecipe of allFavRecipes">


    <div class="list-group">

      <a href={{allFavRecipe.source.sourceRecipeUrl}} class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">

          <h5 class="mb-1"> {{allFavRecipe.name}}  </h5>
          <small> {{allFavRecipe.rating}} <span  class="glyphicon" >&#xe006; </span>
          </small>
        </div>
        <p class="mb-1"> {{allFavRecipe.totalTime}} </p>
        <small> {{allFavRecipe.source.sourceDisplayName}} </small>
      </a>

    </div>

    <button *ngIf="this.displayFavoritesButton" style="background-color: black" class = "btn btn-primary" (click)="this.deleteFavorite(allFavRecipe.id)">Delete</button>



  </ul>

</div>
