<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div style = "margin: 5% auto;color: #444444; font-family:  Roboto; font-size: 18px; line-height: 1.8; max-width: 70%;">
<!--[ngStyle]="{background: 'url(../../assets/background.png)'}"     background: #f2f2f2-->
  <h1 style="text-align: center">Rewards </h1>
  <div>
    <p>
      <strong>Rewards Info</strong> 
    </p>

    <p>
      For our site, you can gain rewards if you make an account. The main way to get these rewards is to 
      complete different types of recipes, share your own custom ones, and rate/review other users recipes. 
      This provides users with a way to not only communicate with other users, but also create a friendly enviorment.
    </p>
    <p>
      <strong>
        Levels & Rewards
      </strong>
    </p>
   
      <div style="padding-left: 2em">

      <div>
        <p>Level 1 - Busboy</p>
        <ul>
          <li>Can keep track of recipes made</li>
          <li>No access to rating or rewards features</li>
          <li>Used to get the hang of our plaform</li>
        </ul>
      </div>

      <div>
        <p>Level 2 - Kitchen Assistant</p>
        <div style="display: inline;">
          <div >
            <img src = "../../assets/icon.jpg" style="max-height: 120px;max-width: 120px;float:right">
          </div>
          <div>
            <ul>
              <li>Gain access to rating or rewards features</li>
              <li>You can now comment on recipes to give feedback</li>
              <li>Unlock you character avatar!!!</li>
              <li>Progress bar now availiable</li>
            </ul>
           </div>
          
      </div>
      </div>


      <div>
        <p>Level 5 - Apprentice</p>
        <div>
        <ul>
            <li>Gain access to more avatars, can also create</li>
        </ul>
      </div>

      </div> 

    <div>
      <p>Level 10 - Chef de Partie</p>
      <div>
        <ul>
          <li>Gain more chef skill - can be used to impress people</li>
          <li>Someone plz help me im out of ideas</li>
        </ul>
      </div>
    </div> 


    <div>              
     <p>Level 15 - Sous Chef</p>
      <div>
        <ul>
          <li>Gain even more chef skill - can be used to impress even people</li>
          <li>Someone plz help me im out of ideas</li>
        </ul>
      </div>
    </div>   


    <div>
      <p>Level 20 - Executive Chef</p>
     <div>
      <ul>
        <li>Gain even even more chef skill - can be used to impress even even people</li>
        <li>Someone plz help me im out of ideas</li>
      </ul>
     </div>
    </div> 

    <div>
      <p>Level 20 - Chef de Cusine (Head Chef)</p>
     <div>
      <ul>
        <li>You have become unstapable</li>
        <li>Gordon Ramsey bows before you</li>
      </ul>
     </div>
    </div>       
      


  </div>
    
  </div>
</div>
