
<div style="margin: 40px auto;max-width:750px;line-height:1.6;font-size:18px;color:#444;padding:0
10px">
  <h1 style="text-align: center">Rewards Information</h1>
  <div>
    <p>
      <strong>This is informtaion about the rewards</strong> 
    </p>
    <ul>
      <li>This will mostly be html, unless we decide to do something fancy</li>
      <li>wow look at this really long thign im typing fandskjlgnjwehgquiwhguwqhefiuqhwfiuoqhweiufhqwuiefhiuqweofhuiqewhfeiuwqhfuieqwhfiueqwhfiuqewhfiuqwehofiuqwehfiuoqwheifuhewqiufhqwieuhf\qeiwhi</li>
      <li>I'll solve the overflow problem later</li>
    </ul>
  </div>
</div>
