<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div style = "margin: 5% auto;color: #444444; font-family: 'Montserrat'; font-size: 18px; line-height: 1.8; max-width: 70%;">
<!--[ngStyle]="{background: 'url(../../assets/background.png)'}"     background: #f2f2f2-->
  <h1 style="text-align: center; color: navy; font-family: 'Montserrat'; padding-bottom: 20px">
    <strong> REWARDS</strong>
  </h1>
  <div>

    <div class="jumbotron">
        <div class="container">
          <br>
          <h2> REWARDS OVERVIEW</h2>
          <p>
              For our site, you can gain rewards if you make an account. The main way to get these rewards is to 
              complete different types of recipes, share your own custom ones, and rate/review other users recipes. 
              This provides users with a way to not only communicate with other users, but also create a friendly environment.
            </p>        
          <br>
        </div>
      </div>

    <p style = "font-size: 25px">
      <strong>
        LEVELS & REWARDS
      </strong>
    </p>   
      <div style="padding-left: 2em">

      <div>
        <p>Level 1 - Kitchen Assistant</p>
        <ul>
          <li>You’re just starting out, but have a love for the kitchen!</li>
          <li>Earn more points to receive your first reward</li>
        </ul>
      </div>

      <div>
        <p>Level 5 - Apprentice</p>
        <div style="display: inline;">
          <div >
            <img src = "../../assets/icon.jpg" style="max-height: 120px;max-width: 120px;float:right">
          </div>
          <div>
            <ul>
              <li>You show some potential, and are now training under a chef!</li>
              <li>Your passion and knowledge of the kitchen shows</li>
              <li>Unlocked ‘Blender Boss’ badge</li>
            </ul>
           </div>
          
      </div>
      </div>

      <div>
        <p>Level 10 - Chef De Partie</p>
        <div>
        <ul>
            <li>You have been promoted to Chef de Partie, or line cook!</li>
            <li>You’re starting to own the kitchen with your crazy skills</li>
            <li>Unlocked ‘Measuring Master’ badge</li>
        </ul>
      </div>

      </div> 

    <div>
      <p>Level 20 - Sous Chef</p>
      <div>
        <ul>
          <li>Second in Command, you hold much responsibility in the kitchen!</li>
            <li>No matter the ingredients, your bound to whip up something worthy</li>
            <li> Pro kitchen knive skills </li>
            <li>Unlocked ‘Whisking Wizard’ badge</li>  
        </ul>
      </div>
    </div> 


    <div>              
     <p>Level 30 - Executive Chef</p>
      <div>
        <ul>
          <li>The Head Chef - You have become unstoppable, the best of the best!</li>
            <li>Gordon Ramsey bows before you</li>
            <li>Unlocked ‘Gordon Ramsey’ badge</li>
            <li>All features now unlocked</li>
        </ul>
      </div>
    </div>   


  </div>
    
  </div>
</div>
