<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">




<div class = "container">
    <div class = "row" style="font-family: 'Montserrat', sans-serif;font-size: 18px; line-height: 1.8; ">

   <div>
      <h1>{{recipe?.name}}</h1>
     
        <img src= "{{imageURL}}">

        <br><br>

        <strong>Total time:</strong> {{recipe?.totalTime}} <br>
        <strong>Servings: </strong> {{recipe?.yield}} <br><br>
        <strong>Calories: </strong> {{this.calories}} <br><br>
       
          <strong> Ingredients: </strong>
         <div class = "col-sm-6;" style="padding-left: 2em;">
            <li *ngFor="let ing of recipe?.ingredientLines"> 
                {{ ing }}
            </li>
            <br>
            <a href="{{recipe?.source.sourceRecipeUrl}}">Step by step instructions</a>
            </div>
        </div>
       
      </div>
  
    </div>
          


