<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<h2>{{recipe?.name}}</h2>
<p>More details here. Flavors, time to make, picture (if available) and link to recipe</p>

<div *ngIf="showImage">
  <img src= "{{imageURL}}">
</div>
<a href="{{recipe?.source.sourceRecipeUrl}}">View full recipe here!</a>
