<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 



<div class = "container">
 <div class = "row" style="font-family: 'Montserrat', sans-serif;font-size: 18px; line-height: 1.8; ">

  
    
      <div class = "col-sm-6;" style="padding-left: 2em;">
        
        <h1>Account Information</h1>
        <hr>
        <br>
        
        <div style = "padding-left: 2em;">
          <div>
            <p>
              <strong>Username: </strong>
              {{this.person.email}}
            </p>
          </div>

          <div>
            <p>
              <strong>Name: </strong>
              {{this.person.fullname}}
            </p>
          </div>

          <div>
            <p>
              <strong>Account Status: </strong>
              Active
            </p>
          </div>


          <div>
            <p>
              <strong><a routerLink="/rewards">Account Rank:</a> </strong>
              {{this.person.rank}}
            </p>
          </div>

          <div>
            <p>
              <strong>Ingredients: </strong>
              
            </p>
            <ul>
              <li *ngFor="let ing of this.person.ingredients.split(',')"> 
                {{ ing }}
              </li>
             </ul>
            
            <input id="add-ingredient" type="text" class="form-control" [(ngModel)] = "addThisIngredient">
            <br>
            <button style="background-color: black" class = "btn btn-primary" (click)="this.addIngredient()">Add Ingredient</button>
            &nbsp;
            <button style="background-color: black" class = "btn btn-primary" (click)="this.removeIngredient()">Remove Ingredient</button>

          </div>

          <!-- 
          <div>
              <p>
                <strong>Favorites </strong>
              </p>
              <ul>
                <li *ngFor="let fav of FavsString"> 
                  {{ fav }}
                </li>
               </ul>
              
            </div>
            -->
        </div>
      </div>
</div>
</div> 